[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pydub = "*"
requests = "*"
yt-dlp = {extras = ["default"], version = "*"}

[requires]
python_version = "3.9"
